<template>
  <form @submit.prevent="submit">
    <label
      ><span>Name</span>
      <input id="name" type="text" placeholder="Name" v-model.trim="name" />
    </label>
    <label
      ><span>Age</span>
      <input type="text" placeholder="Age" v-model.trim="age" />
    </label>

    <button>Add user</button>
  </form>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  name: "addUser",
  data() {
    return {
      name: "",
      age: "",
    };
  },
  methods: {
    ...mapMutations(["addUser"]),
    submit() {
      if (this.name != "" && this.age != "") {
        this.addUser({
          name: this.name,
          age: this.age,
          id: Date.now(),
        });
      } else {
        alert("cant send an empty value");
      }

      this.name = this.age = "";
    },
  },
};
</script>

<style>
form {
  width: fit-content;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: -40px;
}
input {
  display: block;
  width: 300px;
  height: 45px;
  border: none;
  outline: none;

  border: 2px solid rgb(211, 204, 204);
  font-size: 17px;
  padding-left: 20px;
  border-radius: 8px;
  font-weight: bold;
}
button {
  display: block;
  width: 150px;
  width: 100px;
  height: 45px;
  border-radius: 8px;
  border: none;
  background: #004dff;
  color: white;
  margin-bottom: -20px;
}
input[type="text"],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;

  padding-left: 10px;

  border: 1px solid #dddddd;
  outline: none;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px #004dff;

  padding-left: 10px;

  border: 1px solid #004dff;
}
label {
  font-weight: bold;
}
label span {
  display: flex;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 10px;
}
</style>