<template>
  <div id="app">
    <div class="wrapper">
      <addUser />
    </div>

    <div class="cont-users">
      <div class="cont1">
        <p class="title-cont">People less 25</p>
        <div class="item25 cont" v-for="user of allUsers" :key="user.id">
          <p class="name">{{ user.name }}</p>
          <div class="age-cont">
            <p class="age">age</p>
            <p class="num">{{ user.age }}</p>
          </div>
        </div>
      </div>
      <div class="cont2">
        <p class="title-cont">People untill 50</p>
        <div class="item50 cont" v-for="user of middleAged" :key="user.id">
          <p class="name">{{ user.name }}</p>
          <div class="age-cont">
            <p class="age">age</p>
            <p class="num">{{ user.age }}</p>
          </div>
        </div>
      </div>
      <div class="cont3">
        <p class="title-cont">The rest</p>
        <div class="cont3">
          <div class="item50 cont" v-for="user of old" :key="user.id">
            <p class="name">{{ user.name }}</p>
            <div class="age-cont">
              <p class="age">age</p>
              <p class="num">{{ user.age }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import addUser from "./components/addUser.vue";
export default {
  computed: {
    allUsers() {
      return this.$store.getters.allUsers;
    },
    middleAged() {
      return this.$store.getters.middleAged;
    },
    old() {
      return this.$store.getters.old;
    },
  },
  methods: mapActions([]),
  components: {
    addUser,
  },
};
</script>
<style>
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
#app {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: fit-content;
}
.wrapper {
  width: 1300px;
  display: flex;
  justify-content: flex-start;
  /* background: red; */
  margin: 0 auto;
}
.cont-users {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
  gap: 30px;
  margin-top: 40px;
}
.title-cont {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.cont1,
.cont2,
.cont3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cont {
  width: 400px;
  height: fit-content;
  border-radius: 10px;
  padding: 20px 25px;
  border: 1px solid rgb(170, 162, 162);
  /* background: red; */
  transition: 300ms ease;
}
.cont2 {
  border-left: 2px solid #d0d0d0;
  border-right: 2px solid #d0d0d0;
  padding: 0 30px;
}
.cont:hover {
  cursor: pointer;
  box-shadow: 0 0 7px rgb(122, 122, 122);
  border: 1px solid transparent;
}

.name {
  font-size: 29px;
  font-weight: bold;
  margin-bottom: 20px;
}
.age-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f8f8f9;
  border-radius: 8px;
}
.age {
  font-size: 14px;
  color: #99a4b0;

  /* font-weight: bold; */
  margin-left: 15px;
}
.num {
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
}
</style>
